= render "layouts/header"
.contents
  %ul.contents__box
    %li.contents__box_one
      .contents__box_one_common
        .contents__box_one_common_title
          人生を変えるフリマアプリ
        %ul.contents__box_one_common_list
          %li FURIMAはだれでもかんたんに出品・購入できる
          %li フリマアプリです
          .inner__icon
            %span.image
              = link_to "#" do
                = image_tag asset_path("/images/app-store.png"), class: "aBtn"
            %span.image
              = link_to "#" do
                = image_tag asset_path("/images/google.png"), class: "gBtn"

    %li.contents__box_two
      .contents__box_two_title
        %h2.contents__box_two_title_feature
          FURIMAが選ばれる3つの理由
      %ul.contents__box_two_image
        %li.contents__box_two_image_left
          = image_tag asset_path("/images/pict-reason-01.jpg"), size: '300x300'
          %p.contents__box_two_image_left_one
            1
          .contents__box_two_image_left_article
            %span 3分
            ですぐに出品
          .contents__box_two_image_left_note
            スマホで入力するだけで簡単に出品できる！

        %li.contents__box_two_image_center
          = image_tag asset_path("/images/pict-reason-02.jpg"), size: '300x300'
          %p.contents__box_two_image_center_two
            2
          .contents__box_two_image_center_article
            %spanシンプル 
            で使いやすい
          .contents__box_two_image_center_note
            めんどくさい入力は必要なく、検索も購入もスムーズ！

        %li.contents__box_two_image_right
          = image_tag asset_path("/images/pict-reason-03.jpg"), size: '300x300'
          %p.contents__box_two_image_right_three
            3
          .contents__box_two_image_right_article
            手数料
            %span業界最安
          .contents__box_two_image_right_note
            最大3%でお得に出品&購入！
    %li.contents__box_three
      .contents__box_three_common
        %h2.contents__box_three_common_title
          会員数日本一位
        %ul.contents__box_three_common_list
          %li
            FURIMAは、フリマアプリで最も人気。
          %li
            出品・購入回数も業界最多です！
          %li
            ほしかったあの商品に出会えるかもしれません。
        %ul.contents__box_three_common_btn
          .inner__icon
            %span.image
              = link_to "#" do
                = image_tag asset_path("/images/app-store.png"), class: "aBtn"
            %span.image
              = link_to "#" do
                = image_tag asset_path("/images/google.png"), class: "gBtn"
    %li.contents__box_four
      .contents__box_four_title
        %h2.contents__box_four_title_feature
          FURIMAの特徴
      %ul.contents__box_four_image
        %li.contents__box_four_image_left
          = image_tag asset_path("/images/icon-01.png"), size: '220x340'
          .contents__box_four_image_left_article
            簡単に売り買いできる
          .contents__box_four_image_left_note
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %li.contents__box_four_image_center
          = image_tag asset_path("/images/icon-03.png"), size: '220x340'
          .contents__box_four_image_center_article
            売上金は即日振込みに対応
          .contents__box_four_image_center_note
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %li.contents__box_four_image_right
          = image_tag asset_path("/images/icon-04.png"), size: '220x340'
          .contents__box_four_image_right_article
            様々な支払いに対応
          .contents__box_four_image_right_note
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .contents__category
    .contents__category_box
      .contents__category_box_section
        %h2.contents__category_box_section_title
          ピックアップカテゴリー
        .contents__category_box_section_link
          = link_to "#" do
            新規投稿商品





    .contents__category_post
      - @products.first(6).each do |p|
        .contents__category_post_box
          - if p.buyer_id
            .contents__category_post_box_souldout SOLDOUT
          .contents__category_post_box_iamge
            - @images.each.with_index(1) do |image,i|
              - if i == 1
                = image_tag "#{image.src}"
          .contents__category_post_box_article
            %lu.contents__category_post_box_article_detail
              %li
                %h3 
                  = p.name
              %li 
                = p.price
              %li.contents__category_post_box_article_detail_tax
                (税込)
            .contents__category_post_box_article_star
              .contents__category_post_box_article_star_icon
                = icon('fa', 'star')
              .contents__category_post_box_article_star_namber
                0
  = render "layouts/footer"
= render "layouts/camera"