= render "layouts/header"
= render "layouts/category"
.haikei
  .mypage-container
    .main-content
      .mypage-user
        .mypage-user__box
          .mypage-user__icon
          .mypage-user__name
            = "#{current_user.nickname}"
          .mypage-user__number
            評価 0 出品数 0

    .left-content
      .mypage-nav
        .mypage-nav__list
          .mypage-nav__list-item
            = link_to "マイページ", user_path(current_user)
            %i.fas.fa-chevron-right
          
        .mypage-nav__title
          設定
        .mypage-nav__list
          .mypage-nav__list-item
            = link_to "支払い方法", "/cards/new"
            %i.fas.fa-chevron-right
          .mypage-nav__list-item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            %i.fas.fa-chevron-right

  = render "layouts/footer"
  = render "layouts/camera"