.contain
  .header
    .header__box
      %label
        = link_to root_path do
          = image_tag "material/logo/logo.png", size: "350x90", alt: "フリマ"
  .main
    .main__panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        %label
          = link_to "新規会員登録", new_user_registration_path, class: "login"
      .form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form__group
            = f.label :email, 'メールアドレス', class: 'signup-label'
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
          .form__group
            = f.label :password, 'パスワード', class: 'signup-label'
            %br/
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
          .button-class
            %button.login{type: "submit"} ログイン
            .actions
              = f.submit "Log in"