%header.pcHeader
  .headerInner
    .mainheader
      %h1.icon
        %span.image
          = link_to root_path do
            = image_tag "/assets/material/logo/logo.png", class: "image-logo"
        .searchBox
          %form{"accept-charset" => "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type: "submit"}
              %span.image
                = image_tag "material/icon/icon-search 1.png", class: "image"
              %input{name: "authenticity_token", type: "hidden", value: "EQAv/S2rsDeHLoEo0kvb8hCULr0aZqsDDDY9yAzJ7ka+IJjgqdcq02xFyskZAQGb+80qKeJTa3Y4QzPFlX3wNQ=="}/
        %ul.resultLists
      .nav
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            = link_to "カテゴリー", "#", class: "catBtn"
            .tree.displayNone
              %ul.categoryTree
                %li.categoryTree--item
                  = link_to "レディース","#"
                  %li.categoryTree--item
                  = link_to "メンズ","#"
                  %li.categoryTree--item
                  = link_to "ベビー・キッズ","#"
                  %li.categoryTree--item
                  = link_to "インテリア・住まい・小物","#" 
                  %li.categoryTree--item
                  = link_to " 本・音楽・ゲーム","#"
                  %li.categoryTree--item
                  = link_to "おもちゃ・ホビー・グッズ","#" 
                  %li.categoryTree--item
                  = link_to "コスメ・香水・美容","#" 
                  %li.categoryTree--item
                  = link_to "家電・スマホ・カメラ","#" 
                  %li.categoryTree--item
                  = link_to " スポーツ・レジャー","#"
                  %li.categoryTree--item
                  = link_to " ハンドメイド","#"
                  %li.categoryTree--item
                  = link_to "チケット","#"
                  %li.categoryTree--item
                  = link_to " 自動車・オートバイ","#"
                  %li.categoryTree--item
                  = link_to "その他","#"
          %li.listsLeft__item
            = link_to "ブランド", "#",class: "brandBtn"
            %ul.brandsPulldown.displayNone
        %ul.listsRight
          - if user_signed_in?
            %li.listsRight__item.listsRight__item--mypage
              = link_to "マイページ", '#'
          - else
            %li.listsRight__item.listsRight__item--login
              = link_to "ログイン", new_user_session_path
            %li.listsRight__item.listsRight__item--new
              = link_to "新規会員登録", new_user_registration_path