.input
  .input__main
    .logoHeader 
      .logoArea
        %span
          = link_to root_path do
            = image_tag "/assets/material/logo/logo.png", class: "headerLogo"
    = form_for @product do |f|
      .inputArea
        .inputArea__input
          .inputArea__input_imageArea
            .inputArea__input_imageArea_top 
              出品画像
              .inputArea__input_imageArea_top_alert 必須
            .inputArea__input_imageArea_describe 最大10枚までアップロードできます
            .inputArea__input_imageArea_form
              #image-box
                #previews
                = f.fields_for :images do |i|
                  .js-box{data: { index: i.index }}
                    = i.file_field :src, class: "js-file"
                    %br/
                    %span.js-remove 削除
              %label{for: "js-file"}
                %i.fas.fa-camera
            = render partial: 'form'
          .inputArea__input_productArea
            .inputArea__input_productArea_name
              商品名
              .inputArea__input_productArea_name_alert 必須
            .inputArea__input_productArea_form__group
              = f.text_field :name, class: "productName", placeholder: "    40文字まで" #nameカラムのデータとして送る
            .inputArea__input_productArea_describe
              商品の説明
              .inputArea__input_productArea_describe_alert 必須
            .inputArea__input_productArea_form__describe
              = f.text_area :description, class: "productDescribe", placeholder: "商品の説明(必須1,000文字以内)"
              
            
          .inputArea__input_details
            .inputArea__input_details_top
              商品の詳細
            .inputArea__input_details_first
              カテゴリー
              .inputArea__input_details_first_alert 必須
            .inputArea__input_details_form_category
              %input{name: "category", placeholder: "選択してください", type: "string", class: "category"}

            .inputArea__input_details_second
              ブランド
              .inputArea__input_details_second_alert 任意
            .inputArea__input_details_form_brand
              = f.text_field :brand, placeholder: "例）シャネル"

            .inputArea__input_details_third
              商品の状態
              .inputArea__input_details_third_alert 必須
            .inputArea__input_details_form_status
              = f.select :status, ['選択してください','新品、未使用','未使用に近い','目立った傷や汚れなし','やや傷や汚れあり','傷や汚れあり','全体的に状態が悪い']
            
            .inputArea__input_details_forth
              商品のサイズ
              .inputArea__input_details_forth_alert 必須
            .inputArea__input_details_form_size
              = f.select :size, ['XS','S','M','L','XL']
              
          .inputArea__input_delivery
            .inputArea__input_delivery_top
              配送について
            .inputArea__input_delivery_first
              配送料の負担
              .inputArea__input_delivery_first_alert 必須
            .inputArea__input_delivery_form_charge
              = f.select :shipping_cost, ['選択してください','送料込み(出品者負担)','着払い(購入者負担)']
            .inputArea__input_delivery_second
              発送元の地域
              .inputArea__input_delivery_second_alert 必須
            .inputArea__input_delivery_form_area
              = f.select :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name), {} 
            .inputArea__input_delivery_third
              発送までの日数
              .inputArea__input_delivery_third_alert 必須
            .inputArea__input_delivery_form_date
              = f.select :shipping_days, ['選択してください','1~2日で発送','3~4日で発送','4~7日で発送']
              

          .inputArea__input_priceArea
            .inputArea__input_priceArea_top
              価格 (￥300~9,999,999)
            .inputArea__input_priceArea_price
              .inputArea__input_priceArea_price_area
                販売価格
                .inputArea__input_priceArea_price_area_alert 必須
              .inputArea__input_priceArea_price_form
                = f.number_field :price
            .inputArea__input_priceArea_charge
              販売手数料(10%)
            .inputArea__input_priceArea_profit
              販売利益
            .inputArea__input_priceArea_button
              .inputArea__input_priceArea_button_box
                .inputArea__input_priceArea_button_box_content
                  .inputArea__input_priceArea_button_box_content_submit
                  = f.submit "出品する", class: "sell"
                .inputArea__input_priceArea_button_box_draft
                  = f.submit "下書きに保存する", class: "save"
                  .inputArea__input_priceArea_button_box_draft_saved
                .inputArea__input_priceArea_button_box_back
                  = link_to "もどる", "#", class: "backBtn"
            .inputArea__input_priceArea_caution
              禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
          .copyright 
            .copyright_policy
              .copyright_policy_blank
              .copyright_policy_privacy
                プライバシーポリシー 
              .copyright_policy_terms
                メルカリ利用規約
              .copyright_third_notation
                特定商取引に関する表記
            .copyright_logo
              %span.image
                = image_tag "/assets/logo-white.png", class: "copyright_logo"
            .copyright_font
              &copy; Team H ,inc


