= render "layouts/header"
= render "layouts/category"
.main 
   .main__content
      .main__content__space
      .main__content__productName
         = @product.name
      .main__content__image
         %span.image
            - @image.each do |image|
               = image_tag image.src.url, class: "img1"
               - break
         .content__image__small
            .content__iamge__small__left
               - @image.each do |image|
                  = image_tag image.src.url, class: "img"
      .main__content__price
         .main__content__price__sellingPrice
            = @product.price
         .main__content__price__tax
            （税込）送料込み
      .main__content__description
         .main__content__description__top
            = @product.description
            %table
               %tbody
                  %tr
                  %th 出品者
                  %td 
                  %tr
                  %th カテゴリー
                  %td
                     = @product.category.name
                     %br/
                     = link_to "ジャケット/アウター", "#"
                     %br/
                     = link_to "ノーカラージャケット", "#"                     
                  %tr
                  %th ブランド
                  %td
                     = @product.brand
                  %tr
                  %th 商品のサイズ
                  %td
                     = @product.size
                  %tr
                  %th 商品の状態
                  %td 
                     = @product.status
                  %tr
                  %th 配送料の負担
                  %td 
                     = @product.shipping_cost
                  %tr
                  %th 発送元の地域
                  %td 
                     = Prefecture.find(@product.prefecture_id).name
                  %tr 
                  %th 発送日の目安
                  %td 
                     = @product.shipping_days
            .optionalArea
               %ul
                  %li#likeBtn.optionalBtn.likeBtn
                     %i.fa.fa-star
                     お気に入り 0
               %ul.optional
                  %li.optionalBtn
                     %i.fa.fa-flag
                     不適切な商品の通報

            .purchaseArea 
               - if user_signed_in?
                  %ul.purchase
                     %li.purchaseBtn
                        = link_to "商品を購入する", "#", class: "pBtn"
            .optionalArea2
            - if user_signed_in? && current_user.id == @product.user_id
               %ul.edit
                  %li.editBtn
                     = link_to "商品を編集する", edit_product_path(@product.id), class: "eBtn"
               %ul.delete
                  %li.deleteBtn
                     = link_to "商品を削除する", product_path(@product.id), method: :delete, class: "dBtn"
   .commentBox
      %ul.commentContents
      %form#new_comment.new_comment{"accept-charset" => "UTF-8", action: "#", method: "post"}
         %input{name: "utf8", type: "hidden", value: "✓"}/
         %input{name: "authenticity_token", type: "hidden", value: "Lwoak/fp9+5jANMjNlV55oYIn+hR50rvCnw7PzDGcbKAKq2Oc5VtCohrmML9H6OPbVGbfKnSipo+CTUyqXJvwQ=="}/
         %textarea#comment_body{name: "comment[body]", required: "required"}
         %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
         %br/
         %button.commentBtn{name:  "button", type: "submit"}
            %i.fa.fa-comment
            コメントする 
   %ul.links
      %li.left
         = link_to "#" do
            %i.fa.fa-angle-left
            %span
            前の商品
      %li.right
         = link_to "#" do
            %span 後ろの商品
            %i.fa.fa-angle-right
   .relatedItems
      = link_to "メンズをもっと見る", "#" 
      .productLists
= render "layouts/footer"
= render "layouts/camera"