.breadCrumbs
  %ul.breadCrumbs-lists
    %li.lists-first
      = link_to "FURIMA", "#"
    %li
      %i.fa.fa-angle-right
    %li.lists-second
      = link_to "メンズ", "#"
    %li
      %i.fa.fa-angle-right
    %li.lists-third
      = link_to "ジャケット/アウター", "#"
    %li
      %i.fa.fa-angle-right
    %li.lists-forth 
      = link_to "ノーカラージャケット", "#"
    %li
      %i.fa.fa-angle-right
    %li.lists-fifth
      = link_to "Product", "#"

